<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title h5">Description</h2>
    <p class="card-text">A collection of research materials from various University of Idaho departments, including digitization requests fulfilled by the Center for Digital Inquiry and Learning.</p> 
    <p class="card-text">For current research and University of Idaho's current Institutional Repository please visit <a href="https://verso.uidaho.edu/esploro/">verso.uidaho.edu</a>.</p>
  </div>
</div>
