---
layout: page
title: Home
permalink: /
---

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title h5">College of Engineering Repository</h2>
                <p class="card-text">The College of Engineering Repository preserves and offers access to materials related to the college's regular activities. The collection includes student posters from the annual Engineering Design EXPO, Idaho Asphalt Conference programs, and departmental newsletters.</p>
            </div>
        </div>
    </div>
    {% for a in site.data.sub-collections %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title h4">{{ a.title }}</h3>
                {% if a.image %}
                <div class="my-2 p-3 text-center"><img class="img-fluid" src="{{ a.image }}" alt="{{ a.title }}"></div>
                {% endif %}
                <p class="card-text">{{ a.description }}</p>
                <hr>
                <p ><a href="{{ a.link | relative_url }}" class="btn btn-clearwater stretched-link">Browse Collection</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>