<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
      <div class="alert alert-warning feature-alert text-center" role="alert">
        <em>Please note:</em> for the current, up-to-date publications, visit <a href="https://verso.uidaho.edu/esploro/search/outputs?unit=01ALLIANCE_UID___n251742&page=1&institution=01ALLIANCE_UID&sort=date_d" class="alert-link">University of Idaho Extension on VERSO</a>.
      </div>
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>