<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
      <div class="alert alert-warning feature-alert text-center" role="alert">
        <em>Please note:</em> this collection is no longer updated. Visit our <a href="https://verso.uidaho.edu/esploro/search/collections/UI-Theses-and-Dissertations/etds?institution=01ALLIANCE_UID" class="alert-link">Theses and Dissertations Collection in VERSO</a> for all U of I ETD since 2012.
      </div>
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>