---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    <div class="card p-4 mb-3">
      <h3>Featured Book!</h3>
     <p><em>Nature Poems</em> was created by the second graders in Mrs. McNally’s class at Lena Whitmore Elementary during the 2017-2018 school year. </p>
 <a class="text-center" href="{{ '/items/guidedread059.html' | relative_url }}">
 <img class="img-fluid w-50 border" src="https://objects.lib.uidaho.edu/guidedreading/small/guidedread059_sm.jpg"></a>

    </div> 
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="grade-level" title="Grade Level" btn-color="outline-palouse" max="7" featured="kindergarten;first;second;third;fourth;fifth;sixth" %}
    
    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="clearwater" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>