---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title h5">Description</h2>
        <p class="card-text">The Cook Undergraduate Research Journal in political science serves as a vibrant platform for students to publish their original research, which fosters a community of scholarly inquiry and intellectual exchange. </p>
        <p class="card-text">Founded with the mission of amplifying student voices in the field of political science, the journal encourages emerging scholars to explore diverse political topics, ranging from international relations and public policy to comparative politics. By providing a peer-reviewed outlet for undergraduate research, the journal not only enhances the academic experience for students but also contributes to the broader discourse in political science.</p>
        <p class="card-text mb-4"><a class="btn btn-{{ include.btn-color | default: 'primary' }}" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a></p>
      
        <div class="row">
          <div class="col-md-4">
            {% include index/time.html %}
          </div>
          <div class="col-md-4">
            {% include index/objects.html %}
          </div>
          <div class="col-md-4 p-4">
            <a href="https://www.uidaho.edu/class/politics-and-philosophy">
              <img class="w-100" src="https://objects.lib.uidaho.edu/curj/UI_Dept_Poly_and_Philo_horizontal_4c.png" alt="University of Idaho Department of Politics and Philosophy">
            </a>
          </div>
        </div>

      </div>
    </div>
    
  </div>

  <div class="col-md-4">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Current Issue</h2>
        {% assign current = site.data.curj | first %}
        {% include feature/image.html objectid=current.objectid caption=false %}
      </div>
    </div>

  </div>

</div>