---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}

    {% include index/featured-terms.html featured="Computer models; Aquifers; Water quality; Heavy metals; Groundwater; Irrigation; Mine wastes; Hydroelectric power; Hydrogeology; Groundwater flow; Water management; Water pollution; Water resources development; Water supply; Benthos; Computer simulation" title="Top Subjects" btn-color="payette-blue" %}

    {% include index/featured-terms.html featured="Water for Idaho; ESPAM; Evaluation criteria for wild and scenic rivers; Low-head dams PNW; Scenic river study; SRPAM" title="Top Series" btn-color="payette-blue" %}

    {% include index/featured-terms.html featured="Southern Idaho; Snake Plain Aquifer; Moscow; Coeur d'Alene; Snake River; Southeastern Idaho; Northern Idaho; Palouse; Boise; Salmon River; Clearwater River; Bear River; Pullman" title="Locations" btn-color="outline-payette-blue" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}
    {% include index/objects.html %}
    {% include index/carousel.html title="Sample Items" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>