---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/featured-terms.html field="subject_category" title="Top Subjects" btn-color="payette-blue" max=18 %}
    {% include index/featured-terms.html field="department" title="Top Programs" btn-color="outline-payette-blue" max=18 %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}
    
    {% include index/objects.html %}

    {% include index/carousel.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>